{
  "presets": [
    "es2015",
    "stage-0",
    "react"
  ],
  "plugins": [
    [
      "add-module-exports",
      "import",
      {
        "libraryName": "antd",
        "style": true
        // or 'css'
      }
    ]
  ],
  "env": {
    "production": {
      "presets": [
        "react-optimize"
      ],
      "plugins": [
        "babel-plugin-dev-expression"
      ]
    },
    "development": {
      "presets": [
        "react-hmre"
      ]
    }
  }
}
