
.editorWrapper {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;

  .pt-input {
    box-shadow: none;
    height: 60px;
    font-weight: bold;
  }
  .editor {
    flex: 1;
    margin: 5px;
  }
}

// hidden cursor when lost focuse
.ace_hidden-cursors .ace_cursor {
    opacity: 0;
}
