@import '~normalize.css/normalize.css';
@import '~@blueprintjs/core/dist/blueprint.css';

html, body {
    width: 100%;
    height: 100%;
    overflow: hidden;
    -webkit-user-select: none;
    user-select: none;
    cursor: default;
}

*:focus {
    outline: none;
}

#application {
    display: flex;
    justify-content: flex-start;
    -webkit-align-content: stretch;
    -ms-flex-line-pack: stretch;
    align-content: stretch;
    height: 100%;
}

.orgdown {
    display: flex;
}

.orgdown-notebook {
    display: flex;
    flex-direction : row;
    align-items: stretch;
}

.orgdown-sidebar {
    min-width: 200px;
    max-width: 300px;
    background: #182026;
}
.orgdown-doclist {
    min-width: 300px;
    max-width: 500px;
    background: #EBF1F5;
}
.orgdown-editor {
    display: flex;
    background: #ffffff;
}