.orgdown-sidebar {
    height: 100%;
    color: #fff;
    background: rgb(59, 59, 59);
    display: flex;
    flex-direction: column;
    -webkit-app-region: drag;
    .baner {
        padding: 5px 10px;
        color: #ccc;
        font-weight: bold;
        -webkit-user-select: none;
    }
    .orgdown-treeview {
        margin-top: 30px;
        flex: 1;
        .pt-tree-node-icon,
        .pt-tree-node-caret {
            color: #D8E1E8;
        }
        .pt-tree-node-content {
            height: 24px;
        }
        .pt-tree-node-caret,
        .pt-tree-node-caret-none {
            min-width: 24px;
            line-height: 24px;
        }
        .pt-elevation-0 {
          box-shadow: none
        }
        .pt-tree-node-selected>.pt-tree-node-content {
            background: rgb(49, 49, 49)
        }
    }
    .orgdown-userinfo {
        line-height: 50px;
        height: 50px;
        padding: 0 20px;
    }
}
